<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>云米社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet"href="/css/bootstrap-theme.css">
    <link rel="stylesheet"href="/css/community.css" >
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon"/>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="jumbotron" style="min-height: 300px;">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><h1>出错啦！！！</h1>
        <p th:text="${message}">炼哥服务炸裂啦，或者你别瞎几把该url地址！！！</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
    </div>

</div>



</body>
</html>