<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet"href="/css/bootstrap-theme.css">
    <link rel="stylesheet"href="/css/community.css" >
    <script src="/js/jquery-3.4.1.min.js" ></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon"/>

</head>
<body>
<!--头部-->
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm12 col-xs-12" >
            <h2><span th:text="${sectionName}"></span> </h2>
            <hr>
            <div class="media" th:each="pageinfo:${pageinfo.list}"  th:if="${section == 'questions'}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"  th:src="${pageinfo.user.avatarUrl}" src="https://avatars0.githubusercontent.com/u/54231524?v=4" >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:href="@{'/question/'+${pageinfo.id}}" th:text="${pageinfo.title}"></a>
                    </h4>
                    <span th:text="${pageinfo.description}"></span><br>
                    <span class="text-desc">
                        <span th:text="${pageinfo.commentCount}"></span> 个回复 •
                        <span th:text="${pageinfo.viewCount}"></span>次浏览 •
                        <span th:text="${#dates.format(pageinfo.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>•
                    <a th:href="@{'/publish/'+${pageinfo.id}}" class="community-menu"
                       th:if="${session.user != null && session.user.id == pageinfo.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                </div>
            </div>
            <!--未读消息-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'replies'}">
                <div class="media" th:each="pageinfo:${pageinfo.list}" >
                    <div class="media-body">
                        <p class="media-heading">
                            <span th:text="${#dates.format(pageinfo.gmtCreate,'MM-dd HH:mm')}"></span>
                            <span th:text="${pageinfo.notifierName +' ' + '回复了您的' +' '}"></span>
                            <span th:text="${pageinfo.type==0?'问题':'评论'}"></span>

                            <a  th:href="@{'/question/'+ ${pageinfo.id}(notificationid=${pageinfo.id})}" th:text="${pageinfo.outerTitle}" th:if="${pageinfo.type==0}"></a>
                            <a  th:href="@{'/notification/'+ ${pageinfo.id}}" th:text="${pageinfo.outerTitle}" th:if="${pageinfo.type==1}"></a>
                            <span class="label label-danger" th:if="${pageinfo.status == 0}">未读</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 分页条信息-->

            <nav aria-label="Page navigation" style="margin-top: 20px">
                <ul class="pagination">

                    <!-- 是否有上一页，没有就显示禁用状态-->

                    <li th:class="${!pageinfo.hasPreviousPage}?'disabled' :''"><a href="/">首页</a></li>
                    <li th:class="${!pageinfo.hasPreviousPage}?'disabled' :''">
                        <a href="#" aria-label="Previous" th:href="@{'/profile/'+${section}(pn=${(pageinfo.pageNum)-1}) }">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!-- 这里就是判断当前循环读出的页码是不是你查询的页码，是就高亮，不是就不高亮，然后点击页码跳转查询该页面  -->
                    <li th:each="page_Num:${pageinfo.navigatepageNums}"  th:class="${page_Num==pageinfo.pageNum}?'active' :''">
                        <a href="#" th:text="${page_Num}" th:if="${page_Num==pageinfo.pageNum}" ></a>
                        <a href="#" th:text="${page_Num}"  th:if="${page_Num!=pageinfo.pageNum}"  th:href="@{'/profile/'+${section}(pn=${page_Num}) }"></a>
                    </li>

                    <!-- 是否有下一页，没有就显示禁用状态-->
                    <li th:class="${!pageinfo.hasNextPage}?'disabled' :''" ><a href="/"  th:href="@{'/profile/'+${section}(pn=${pageinfo.pages}) }">尾页</a></li>
                    <li th:class="${!pageinfo.hasNextPage}?'disabled' :''">
                        <a href="#" aria-label="Next" th:href="@{'/profile/'+${section}(pn=${(pageinfo.pageNum)+1}) }">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- 分页文字信息-->
            <div class="row" >
                <div class="col-md-6" id="page_info_area">
                    当前  <span th:text="${pageinfo.pageNum}"></span> 页,总<span th:text="${pageinfo.pages}"></span> 页,总<span th:text="${pageinfo.total}"></span>条记录
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions" th:class="${section == 'questions'}? 'active list-group-item' : 'list-group-item'">我的问题</a>
                <a href="/profile/replies" th:class="${section == 'replies'}? 'active list-group-item' : 'list-group-item'">最新回复
                    <span class="badge" th:text="${session.unreadCount}"></span>
                </a>
            </div>

        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>