<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyl.springboot_forum.mapper.UserMapper">

    <!--点击登录，登录成功添加user信息-->
    <insert id="insert" parameterType="user">
      insert into user(name,account_id,token,gmt_create,gmt_modified,bio,avatar_url) values (#{name},#{accountId},#{token},#{gmtCreate},#{gmtModified},#{bio},#{avatarUrl})
    </insert>

    <!--查询token-->
    <select id="findByToken" parameterType="string" resultType="user">
       select * from user where token = #{token}
    </select>

    <!--查询question里的关联id字段与user表的id相同的user信息-->
    <select id="findByid" parameterType="int" resultType="user">
      select * from user where id = #{id}
    </select>

    <!--根据accountid看是否存在这个用户-->
    <select id="findByAccountId" parameterType="string" resultType="user">
      select * from user where account_id = #{accountId}
    </select>

    <!-- 更新用户-->
    <update id="update" parameterType="user">
        update user set name=#{name},token=#{token},gmt_modified=#{gmtModified},avatar_url=#{avatarUrl} where  id=#{id}
    </update>


</mapper>
